.center{
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: gainsboro;
}

.posts{
  background-color: #f5f2f2;
}

.posts-hidden{
  display: none;
}

.hide {
  display:none;
}

.complete-post-hidden{
  display:none;
}
